
.mainPage{
    background-image: url(/assets/img/as11-44-6551_1280-main.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 30%;
  
   
}
.AppMainLinkPage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
}

.linkToApp{
    margin: 3em;
    aspect-ratio: 16/12;
    max-width: 100px;
    max-height: 100px;
    padding: 2em;
    min-height: 60px;
    min-width: 60px;
}

.linkToApp:hover{
    background: rgba(128, 128, 128, 0.507);
    border-radius: 50%;
}

@media  (max-width: 650px){
    .mainPage{
        background-size: contain;
        background-repeat: no-repeat;
    }

}
    

