.mail-index {
    display: grid;
    grid-template-rows: 1fr 19fr;
    height: 100vh;
}

.mail-header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background-color: #f6f8fc;
}

.mail-header-left-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.mail-main-left-area-side-menu {
    padding-inline-start: 22px;
}

.menu-btn {
    text-align: end;
    margin-right: 5px;
}

.img-gmail {
    height: 22px;
    width: 28px;
}

.gmail-caption {
    margin: auto;
}

.mail-header-center-area {
    text-align: center;
    margin: auto;
}

.mail-header-search-form,
.mail-header-center-area {
    width: 100%;
    height: 100%;
    margin-top: 1px;
}

.mail-search-box {
    background-color: #eaf1fb;
    width: 40%;
    height: 80%;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    padding-left: 20px;
}

.mail-header-right-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.mail-main {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    background-color: #f6f8fc;
}

.mail-main-left-area {
    display: grid;
    grid-template-rows: 1fr 20fr;
    background-color: #f6f8fc;
    padding-inline-start: 0;
}

.li-mail-left-side {
    padding-bottom: 10px;
}

.mail-main-center-area {
    display: grid;
    grid-template-rows: 1fr 19fr;
    background-color: #ffffff;
    border-radius: 20px;
}

.mail-main-right-area {
    background-color: #f6f8fc;
}

.btn-mail {
    background: none;
    border: none;
}

.side-menu {
    list-style: none;
}

.mail-img {
    border-radius: 50%;
}