:root {
    --main-bg-color: lightblue;

    -clr-header-footer: rgb(206, 206, 235); 

    --clr-note: rgb(254,239,195);
    --clr-note-bgc: rgb(215, 215, 215);
    --clr-grey:rgb(241,243,244);


    --size-s:0.5em;
    --size-m:1em;
    --size-l:1.5em;
    --size-xl:2em;


}