.addNote{
    width:34.75em ;
    height: 1.375em;
    min-width:19.375em;
    width:34.75em ;
    padding: 0.75em 1em;
    box-shadow: 0 0 2px 0px;
    border-radius: 1em;
    margin: 2em auto;
    background-color: #fff;
    box-shadow: 0 1px 7px rgb(128, 128, 128);
    border-radius: 7px;
}

textarea:focus, input:focus{
    outline: none;
}

.addNoteForm {
    box-sizing: border-box;
    border: none;
    height: fit-content;
    display: flex; 
    flex-direction: column;  
    justify-content: center;
    width: 97%;
}
input.addText{
    font-size: 13px;
    width: 95%;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 10px;

}

.addNote form textarea{
    min-height: 5px;
    resize: none;
    width: inherit;
    border: 0;
    font-size: 1rem;
    outline: none;
    padding: 4px 10px;
    width:95%;

}

.addNoteBtn >* {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.875rem;
    height: 2.875rem;
    color: gray;

}

.addNote.writeOpt .addNoteBtn{
    display: none;
}

.addNote.writeOpt{
    flex-direction: column;
    align-items: flex-start;
    min-height: 100px ;
}



.addNote textarea, .addNote .bottomAddNoteLine, .attachPin{
    display: none;
}
.addNote.writeOpt textarea, .writeOpt .attachPin{
    display: block;
}

.addNote.writeOpt .bottomAddNoteLine{
    display: flex;
    justify-content: space-between;
    width: inherit;
    flex-wrap: wrap;
}

.edidNoteBtn> *{
    display: flex;
    padding: 5px;
    margin: 0;
    align-items: center;
    font-size: 1em;
    color: rgb(40, 38, 38);
    font-weight: 550;

}



