.mainEditNote{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: rgba(230, 220, 220, 0.498);
  transform: translate(-50%, -50%); 
  top: 0;
  left: 0;
   top: 50%;
  left: 50%;
}

/* .mainEditNote{
  position: fixed;
 
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.548);

} */


.mainEditNote .addNote  {
  position: fixed;
  background-color: rgb(230, 223, 223);
}

.addNoteForm .noteImg{
  max-height: 70vh;
  max-width: 50vw;
}












