.noteList li{
    border: black solid 1px;
    display: inline-block;
    border-radius: var(--size-s);

}

.notePresent{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    justify-content: space-between;
}

.noteTxts{
    font-size: 1em;
    width: 200px;
    padding: 0.75em 1em;
    box-sizing: border-box;
    overflow-wrap: break-word;

}

.txtTitle{
    min-height: 1.5em;
    
}


.txtBody{
    min-height: 2.5em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;   
}



.optBtnNote{
    display: flex;
    margin: 0 0.5em;
   
}
.optBtnNote>*{
    font-size: 1.2em;
    font-weight: 550;
    padding-right: 5px;
    height: 34px;
    width: 34px;
}

.optBtnNote{ 
    opacity: 0;
    transition: opacity 0.4s;

}

.notePresent:hover .optBtnNote{
    opacity: 1;
}







