.google-icons {
    background: none;
}

.btn-mail {
    padding: 0;
}

.td-email-table {
    border-bottom: 1px solid rgba(0, 0, 0, 0.115);
}

.emails-table-row:hover .raw-gmail-icons {
    color: rgba(0, 0, 0, 0.977);
}

.mail-body {
    color: rgba(0, 0, 0, 0.374);
}

.raw-gmail-icons {
    color: rgba(0, 0, 0, 0.286);
}

.emails-table-row:hover {
    box-shadow: 0 1.5px 0 0 rgba(129, 129, 129, 0.248);
    cursor: pointer;
}

.material-symbols-outlined.stared-btn {
    color: rgba(237, 146, 35, 0.638);
}

.material-symbols-outlined.important {
    color: rgba(237, 146, 35, 0.638);
}