.google-icons {
    background: none;
}

.btn-mail {
    padding: 0;
}

.td-email-table {
    border-bottom: 1px solid rgba(0, 0, 0, 0.258);
}

.mail-body {
    color: rgba(0, 0, 0, 0.588);
}

.raw-gmail-icons {
    color: rgba(0, 0, 0, 0.588);
}